[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/guardian-cni-adapter"]
	path = src/github.com/cloudfoundry-incubator/guardian-cni-adapter
	url = https://github.com/cloudfoundry-incubator/guardian-cni-adapter
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/garden"]
	path = src/github.com/cloudfoundry-incubator/garden
	url = https://github.com/cloudfoundry-incubator/garden
	branch = master
[submodule "src/github.com/pivotal-golang/lager"]
	path = src/github.com/pivotal-golang/lager
	url = https://github.com/pivotal-golang/lager
	branch = master
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
	branch = master
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
	branch = master
[submodule "src/github.com/containernetworking/cni"]
	path = src/github.com/containernetworking/cni
	url = https://github.com/containernetworking/cni
	branch = master
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://go.googlesource.com/sys
	branch = master
