.DS_Store
.blobs/
blobs/
config/dev.yml
config/private.yml
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
bosh-lite
releases/*.tgz
output/
tmp/
releases/**/*.tgz
dev_releases
.dev_builds
*.swp
*.test
*~
*#
#*
/*.tgz
.vagrant/
/pkg
/bin
src/example-apps/proxy/proxy
src/example-apps/tick/tick
src/example-apps/registry/registry
