[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
	branch = master
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
	branch = master
[submodule "src/github.com/containernetworking/cni"]
	path = src/github.com/containernetworking/cni
	url = https://github.com/containernetworking/cni
	branch = master
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://go.googlesource.com/sys
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/github.com/cloudfoundry-incubator/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers
[submodule "src/github.com/vito/gosub"]
	path = src/github.com/vito/gosub
	url = https://github.com/vito/gosub
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "src/github.com/jmoiron/sqlx"]
	path = src/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "src/github.com/coreos/go-iptables"]
	path = src/github.com/coreos/go-iptables
	url = https://github.com/coreos/go-iptables
[submodule "src/code.cloudfoundry.org/lager"]
	path = src/code.cloudfoundry.org/lager
	url = https://github.com/pivotal-golang/lager
[submodule "src/github.com/cloudfoundry/dropsonde"]
	path = src/github.com/cloudfoundry/dropsonde
	url = https://github.com/cloudfoundry/dropsonde
[submodule "src/github.com/cloudfoundry/gosteno"]
	path = src/github.com/cloudfoundry/gosteno
	url = https://github.com/cloudfoundry/gosteno
[submodule "src/github.com/cloudfoundry/sonde-go"]
	path = src/github.com/cloudfoundry/sonde-go
	url = https://github.com/cloudfoundry/sonde-go
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "src/code.cloudfoundry.org/garden"]
	path = src/code.cloudfoundry.org/garden
	url = https://github.com/cloudfoundry/garden
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/example-apps/tick/vendor/github.com/ryanmoran/viron"]
	path = src/example-apps/tick/vendor/github.com/ryanmoran/viron
	url = https://github.com/ryanmoran/viron
[submodule "src/example-apps/tick/vendor/github.com/tedsuo/ifrit"]
	path = src/example-apps/tick/vendor/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
[submodule "src/example-apps/tick/vendor/code.cloudfoundry.org/localip"]
	path = src/example-apps/tick/vendor/code.cloudfoundry.org/localip
	url = https://github.com/cloudfoundry/localip
[submodule "src/github.com/pivotal-cf-experimental/rainmaker"]
	path = src/github.com/pivotal-cf-experimental/rainmaker
	url = https://github.com/pivotal-cf-experimental/rainmaker
[submodule "src/code.cloudfoundry.org/localip"]
	path = src/code.cloudfoundry.org/localip
	url = https://github.com/cloudfoundry/localip
[submodule "src/github.com/square/certstrap"]
	path = src/github.com/square/certstrap
	url = https://github.com/square/certstrap.git
[submodule "src/github.com/pivotal-cf-experimental/warrant"]
	path = src/github.com/pivotal-cf-experimental/warrant
	url = https://github.com/pivotal-cf-experimental/warrant
[submodule "src/gopkg.in/validator.v2"]
	path = src/gopkg.in/validator.v2
	url = https://github.com/go-validator/validator
[submodule "src/code.cloudfoundry.org/debugserver"]
	path = src/code.cloudfoundry.org/debugserver
	url = https://github.com/cloudfoundry/debugserver
[submodule "src/github.com/pivotal-cf-experimental/gomegamatchers"]
	path = src/github.com/pivotal-cf-experimental/gomegamatchers
	url = https://github.com/pivotal-cf-experimental/gomegamatchers
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/cf-container-networking/sql-migrate"]
	path = src/github.com/cf-container-networking/sql-migrate
	url = https://github.com/cf-container-networking/sql-migrate.git
[submodule "src/code.cloudfoundry.org/cf-networking-helpers"]
	path = src/code.cloudfoundry.org/cf-networking-helpers
	url = https://github.com/cloudfoundry/cf-networking-helpers
[submodule "src/github.com/containernetworking/plugins"]
	path = src/github.com/containernetworking/plugins
	url = https://github.com/containernetworking/plugins
[submodule "src/code.cloudfoundry.org/filelock"]
	path = src/code.cloudfoundry.org/filelock
	url = https://github.com/cloudfoundry/filelock.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/github.com/pkg/errors"]
	path = src/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "src/code.cloudfoundry.org/clock"]
	path = src/code.cloudfoundry.org/clock
	url = https://github.com/cloudfoundry/clock
[submodule "src/github.com/nats-io/go-nats"]
	path = src/github.com/nats-io/go-nats
	url = https://github.com/nats-io/go-nats
[submodule "src/github.com/nats-io/nuid"]
	path = src/github.com/nats-io/nuid
	url = https://github.com/nats-io/nuid
[submodule "src/github.com/pivotal-cf/paraphernalia"]
	path = src/github.com/pivotal-cf/paraphernalia
	url = https://github.com/pivotal-cf/paraphernalia
[submodule "src/github.com/nats-io/gnatsd"]
	path = src/github.com/nats-io/gnatsd
	url = https://github.com/nats-io/gnatsd
[submodule "src/github.com/st3v/glager"]
	path = src/github.com/st3v/glager
	url = https://github.com/st3v/glager
[submodule "src/github.com/montanaflynn/stats"]
	path = src/github.com/montanaflynn/stats
	url = https://github.com/montanaflynn/stats
[submodule "src/github.com/nats-io/nats-top"]
	path = src/github.com/nats-io/nats-top
	url = https://github.com/nats-io/nats-top
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/code.cloudfoundry.org/bbs"]
	path = src/code.cloudfoundry.org/bbs
	url = https://github.com/cloudfoundry/bbs.git
[submodule "src/github.com/Benjamintf1/unmarshalledmatchers"]
	path = src/github.com/Benjamintf1/unmarshalledmatchers
	url = https://github.com/Benjamintf1/unmarshalledmatchers.git
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
