---
image_resource:
  type: registry-image
  source: { repository: c2cnetworking/dev-postgres }

platform: linux

inputs:
- name: cf-networking-release

run:
  path: cf-networking-release/scripts/test.sh

params:
  GINKGO_EXTRA_FLAGS: "-race"
  DB: postgres
  SERIAL_NODES: 4
  include_only: ~
  exclude_packages: ~
